<%- include('../partials/header') -%>
    <div class="content">
        <% snippets.forEach((snippet) => { %>
            <div class="card">
                <i class="<%= snippet["language"]["logo"]%> colored"></i>
                <h2><%= snippet["title"] %></h2>
                <pre><code class="<%= snippet["language"]["htmlClass"] %>"> <%= snippet["code"] %></code></pre>
                <p><%= snippet["description"] %></p>
                <span><%= snippet["creationDate"] %></span>
            </div>
       <% }) %>
    </div>
    <script src="js/prism.js"></script>
</body>
</html>
