<%- include('../partials/header') -%>
    <div class="content">
        <% snippets.forEach((snippet) => { %>
            <div class="card">
                <h2><%= snippet["title"] %></h2>
                <pre><%= snippet["code"] %></pre>
                <p><%= snippet["description"] %></p>
                <span><%= snippet["creationDate"] %></span>
            </div>
       <% }) %>
    </div>
</body>
</html>
